<div class="log">
    <h1>Edit My Profile</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
      Let's begin with your email address
        <%= f.input :email, required: true, autofocus: true,
                     wrapper_html: { class: 'forced-columns' }, label: false %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
      What's your first name?
        <%= f.input :first_name,
                    input_html: { autocomplete: "Your first name" },
                     wrapper_html: { class: 'forced-columns' }, required: true , label: false %>
     And your last name?
        <%= f.input :last_name,
                    input_html: { autocomplete: "Your last name" },
                     wrapper_html: { class: 'forced-columns' }, required: true , label: false %>

      Choose a strong password
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    input_html: { autocomplete: "new-password" } ,
                     wrapper_html: { class: 'forced-columns' } , label: false %>
      Confirm it
        <%= f.input :password_confirmation,
                    input_html: { autocomplete: "new-password" } ,
                     wrapper_html: { class: 'forced-columns' } , label: false %>
      Enter your current password
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } ,
                     wrapper_html: { class: 'forced-columns' } , label: false %>
        <%= f.input :photo,  class: "btn btn-green", as: :file,
                     wrapper_html: { class: 'forced-columns' }, required: true , label: false %>

          <% if current_user.pet_sitters_status == true  %>

          <%= f.input :pet_sitters_status,
                      :as => :boolean %>
          Where is the place for your pet sitting missions?
          <%= f.input :location,
                            :size=>"40",
                            placeholder: 'Street number, street name, postal code, country',
                            input_html: { autocomplete: "your address" },
                            required: true,
                            wrapper_html: { class: 'forced-columns' }, label: false %>
          Which are the species you will accept there?
          <%= f.input :type_of_pet, collection: ["dog", "cat", "fish", "bird", "rabbit"], multiple: true, as: :check_boxes,
                     wrapper_html: { class: 'forced-columns' }, required: true, label: false %>
          Which are the services you offer?
          <%= f.input :type_of_service, label: false, collection: ["walk", "feed", "wash"], multiple: true, as: :check_boxes ,
                     wrapper_html: { class: 'forced-rows' }, required: true, label: false %>

          For which price (hourly rates)?
          <%= f.input :price,
                      required: true,
                      input_html: { autocomplete: "Your first name" },
                     wrapper_html: { class: 'forced-columns' }, label: false %>

                      <% else %>
            <% end %>
        </div>
      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn-green" %>
      </div>
      </div>

    <% end %>
</div>
