<div class="log">
  <div class="chatroom" data-controller="contract-subscription"
    data-contract-subscription-contract-id-value="<%= @contract.id %>">
    <% pet_sitter = User.find(@contract.id_pet_sitter) %>
    <% if current_user.pet_sitters_status == false || current_user.pet_sitters_status == nil %>
      <% if pet_sitter.first_name.present? %>
      <h2 class="center-title">Chat with <%= pet_sitter.first_name %></h2>
      <% else  %>
      <h2 class="center-title">Chat with</h2>
        <%= "your pet sitter" %>
      <% end %>
    <% else%> <h2 class="center-title">Chat with <%= @contract.user.first_name  %></h2>
    <% end %>

      <%# <h1>#<%= @contract.user.first_name%>

      <div class="messages" data-contract-subscription-target="posts">
        <% @contract.posts.each do |post| %>
          <% if post.photo.attached?%>
            <%= render "posts/post", post: post %>
            <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
            <%= render "posts/post", post: post %>
          <% end %>
        <% end %>
      </div>
    <%= simple_form_for [@contract, @post],
      remote: true,
      html: {data: {action: "ajax:success->contract-subscription#resetForm"}, class: "d-flex" } do |f| %>
      <div class="discussion">
        <%= f.input :content,
          label: false,
          placeholder: "Message ##{current_user.first_name}",
          wrapper_html: {class: "content", style: "width: 700px"},
          input_html: {style: "width: 701px"}
        %>
        <%= f.input :photo, as: :file, label: false,
          input_html: {style: "width: 153px;", class: "mt-2"}%>
        <%= f.submit "Send", class: "btn btn-green mt-1" %>
      </div>
    <% end %>
  </div>

</div>
