<div class="log">
  <div class="container chatroom" data-controller="contract-subscription"
    data-contract-subscription-contract-id-value="<%= @contract.id %>">
    <% pet_sitter = User.find(@contract.id_pet_sitter) %>
    <h2>Chat with <%if pet_sitter.first_name.empty?%>
      <%= "your pet sitter" %>
      <% else pet_sitter.first_name %>
      <% end %>
    </h2>
      <%# <h1>#<%= @contract.user.first_name%>

      <div class="messages" data-contract-subscription-target="posts">
        <% @contract.posts.each do |post| %>
          <% if post.photo.attached?%>
            <%= render "posts/post", post: post %>
            <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
            <%= render "posts/post", post: post %>
          <% end %>
        <% end %>
      </div>
    <%= simple_form_for [@contract, @post],
      remote: true,
      html: {data: {action: "ajax:success->contract-subscription#resetForm"}, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@contract.user.first_name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.input :photo, as: :file, wrapper_html: { class: 'forced-columns' }, label: false %>
      <%= f.submit "Send", class: "btn btn-green" %>
    <% end %>
  </div>

</div>
