<h1>Bookings show page</h1>

<% if current_user.pet_sitters_status == false || current_user.pet_sitters_status == nil %>
  <div>
    <% current_user.contracts_user.each do |contract| %>
      <p><%=contract.description%></p>
      <p><%=contract.date%></p>
      <p><%=contract.status%></p>
      <%= link_to "Edit", edit_contract_path(contract), class: "btn btn-blue" %>
      <%= link_to "Delete", contract_path(contract), method: :delete, class: "btn btn-blue", data: {confirm: "Do you really want to delete this booking ?"} %></p>
<% end %>



<% else %>
  <div>
    <% Contract.all.each do |contract| %>
      <p><%=contract.description%></p>
      <p><%=contract.date%></p>
          <% if contract.status == false %>
            <%= link_to "Accept", accept_contract_path(contract), class: "btn btn-blue" %>
            <%# <p><%= link_to "free", accept_contract_path(contract),  class: "btn btn-blue" %>
          <% elsif contract.status == true %>
          <%= link_to "Decline", decline_contract_path(contract), class: "btn btn-blue" %>
          <%# <p><%= link_to "taken", accept_contract_path(contract),  class: "btn btn-blue" %>
          <% end %>
          <%= link_to "Delete", contract_path(contract), method: :delete, class: "btn btn-blue", data: {confirm: "Do you really want to delete this booking ?"} %></p>
    <% end %>
  </div>

<% end %>
