<div class="container chatroom" data-controller="contract-subscription"
  data-contract-subscription-contract-id-value="<%= @contract.id %>">
<h1>Current user email is: <%= current_user.email %></h1>
  <%# <h1>#<%= @contract.user.first_name%>

  <div class="posts" data-contract-subscription-target="posts">
    <% @contract.posts.each do |post| %>
      <%= render "posts/post", post: post %>
    <% end %>
  </div>
</div>

<%= simple_form_for [@contract, @post],
  remote: true,
  html: {class: "d-flex"} do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@contract.user.first_name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary" %>
<% end %>
