<div class="wrapper-footer">
  <div class="log">
    <h1>Add your lovely pet to your profile</h1>
    <%= simple_form_for([@user, @pet]) do |f| %>
    What's the name of this lovely pet?
    <%= f.input :name, label: false, wrapper_html: { class: 'forced-columns' } %>
    What's the species of this pet?
    <%= f.input :breed, collection: ["dog", "cat", "fish", "bird", "rabbit"], label: false, wrapper_html: { class: 'forced-columns' } %>
    Upload a nice picture of your pet :-)
    <%= f.input :photo, as: :file ,
                     wrapper_html: { class: 'forced-columns' }, label: false %>
    <div class="form-actions btn btn-ghost">

      <%= f.button :submit, "Add my pet" , class: "btn btn-green"%>
    </div>
    <% end %>
  </div>
</div>
