<div class="card-trip-infos-map">
  <div>
      <H6><%= cl_image_tag user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, crop: :thumb, gravity: :face %>  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user)%></H6>
        <% recipient_id = user.reviews_recieved %>
                  <% unless recipient_id.empty? %>
                  <div class="card-trip-infos-user-show">
                    <p><strong>Average rating: <%= user.average_rating %>/5</strong></p>
                  </div>
                  <% end %>
        <p>Address: <strong><%= user.location %></strong></p>
        <p>What I offer:
<<<<<<< HEAD
        <% user.type_of_service[1..-1].each do |service| %>
          <span id="blue-badge" class="badge"><%= service %></span>
        <% end %></p>
        <p>Animals I take care of:
        <% user.type_of_pet[1..-1].each do |pet|  %>
        <span id="blue-badge" class="badge"><%= pet %></span>
=======
        <% user.type_of_service.each do |service| %>
          <span id="blue-badge "><%= service %></span>
        <% end %></p>
        <p>Animals I take care of:
        <% user.type_of_pet.each do |pet|  %>
        <span id="blue-badge "><%= pet %></span>
>>>>>>> master
        <% end %></p>
      <% if params[:start_date] && params[:end_date] %>
      <%= simple_form_for([User, Contract.new]) do |f| %>
        <% if params[:start_date].present? && params[:end_date].present? %>
          <%= f.input :start_date, input_html: { value: DateTime.parse(params[:start_date]) }, as: :hidden %>
          <%= f.input :end_date, input_html: { value: DateTime.parse(params[:end_date]) }, as: :hidden %>
          <%= f.submit "Book #{user.first_name}" %>
        <% else %>
        <%= f.input :start_date, as: :hidden %>
        <%= f.input :end_date, as: :hidden %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <P class="card-trip-pricing">My rates: <STRONG><%= user.price %>€/hour</STRONG></P>
   <%= link_to "More info", user_path(user)%>
</div>
