<div class="log">
<h1>Become a pet sitter now!</h1>
  <%= simple_form_for(@user) do |f| %>
        <%= f.input :location,
                    labels: "Test",
                          :size=>"40",
                          placeholder: 'Street number, street name, postal code, country',
                          input_html: { autocomplete: "your address" } %>
        <%= f.input :type_of_pet, collection: ["dog", "cat", "fish", "bird", "rabbit"], multiple: true, as: :check_boxes  %>
        <%= f.input :type_of_service, collection: ["walk", "feed", "wash"], multiple: true, as: :check_boxes  %>
        <%= f.input :price,
                    hint: "What is your price per hour?",
                    required: false,
                    input_html: { autocomplete: "Your first name" } %>
    <%= f.submit "Complete Pet Sitter requests" %>
  <% end %>
</div>
