<div class="log-special">
  <h1>Find the best pet sitters arround you!</h1>
  <h2>Select your dates first</h2>


  <%= form_tag users_path, method: :get, class: "align-search-bar", data: { controller: "flatpickr"} do %>
    <div id="dates_div">
      <%= datetime_field_tag(:start_date, value = nil, options = {
        min: DateTime.now,
        max: DateTime.now + 2.months,
        class: "datepicker",
        placeholder: "Start date"
      }) %>
      <%= datetime_field_tag(:end_date, value = nil, options = {
        min: DateTime.now + 1.hour,
        max: DateTime.now + 2.months,
        class: "datepicker",
        placeholder: 'End date'
      }) %>
    </div>

    <%# <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Type in your address to find the closest pet sitter" style="padding:1.5%; margin-bottom:3%;"/>
      <button name="button" type="submit" class="btn btn-green">
        <i class="fas fa-search"></i> Search
      </button>
    </div> %>

    <div class="search-form-control form-group">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control", id: "address_bar", style: "padding:1.5%; margin-bottom:3%;",
        placeholder: "Type in your address to find the closest pet sitter"
      %>
      <%= submit_tag "Search", class: "btn btn-green", id: "search_button", style: "  border: 0px;"%>
    </div>
  <% end %>
</div>
  <div class="container-wide">
    <div class="the-mapbox" id="container-wide-mapbox"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="cards">
      <% @users.each do |user| %>
        <div class="card-trip">
          <%= cl_image_tag user.photo.key, class: "img-profile", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, crop: :thumb, gravity: :face %>
          <div class="card-trip-index">
            <div class="card-trip-index-title">
              <H2><%= user.first_name %> <%= user.last_name %></H2>
              <p><%= user.short_desc %></p>
            </div>
            <div class="card-trip-index-infos">
              <p><strong><%= user.location %></strong></p>
              <p>What I offer:<strong>
              <% user.type_of_service[1..-1].each do |service| %>
                <span id="badge" class="badge bg-secondary"><%= service %></span></strong></p>
              <% end %>
              <p>Animals I take care of <strong>
              <% user.type_of_pet[1..-1].each do |pet|  %>
                <span  id="badge" class="badge bg-secondary"><%= pet %></span>
              <% end %></strong></p>
            </div>
            <div class="card-trip-index-booking">
                <%= link_to "Show more", user_path(user), class:"btn-ghost", style:"color:black"%>
                <% if params[:start_date] && params[:end_date] %>
                <%= simple_form_for([user, Contract.new]) do |f| %>
                  <% if params[:start_date].present? && params[:end_date].present?   %>
                    <%= f.input :start_date, input_html: { value: DateTime.parse(params[:start_date]) }, as: :hidden %>
                    <%= f.input :end_date, input_html: { value: DateTime.parse(params[:end_date]) }, as: :hidden %>
                  <% else %>
                    <%= f.input :start_date, as: :hidden %>
                    <%= f.input :end_date, as: :hidden %>
                  <% end %>
                  <%= f.submit "Book #{user.first_name}", class:"btn-blue" %>
              <% end %>
            <% end %>
          <h6 class="card-trip-pricing" style="color:black"><strong><%= user.price %>€/hour</strong></h6>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
