<% if @user.pet_sitters_status == false || @user.pet_sitters_status == nil %>
  <div class="container">
     <div class="container container-profile">
      <div class="cards-cards">
        <div class="cards-profile">
            <div class="log">
              <h2>My profile</h2>
              <div class="card-trip">
                  <div class="card-trip-info">
                      <% if current_user.photo.attached? %>
                      <%= cl_image_tag @user.photo.key, class: "img-profile", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, crop: :thumb, gravity: :face %>
                      <% else %>
                        <img src=<%=['https://res.cloudinary.com/sebd141/image/upload/v1654172150/rabit_kid1_wmlcdo.jpg',
                      'https://res.cloudinary.com/sebd141/image/upload/v1654172150/human_rabbit2_xvpcee.jpg',
                      'https://res.cloudinary.com/sebd141/image/upload/v1654171972/homme_chien2_ab94yo.jpg',
                      'https://res.cloudinary.com/sebd141/image/upload/v1654171972/femme_chien1_ec9xg5.jpg',
                      'https://res.cloudinary.com/sebd141/image/upload/v1654171971/femme_chat1_vcvj9m.jpg',
                      'https://res.cloudinary.com/sebd141/image/upload/v1654171971/homme_chien1_oadq64.jpg'].sample%>>
                      <% end %>
                  </div>
                  <br>
                  <div class="card-trip">

                        <div class="card-trip-infos">
                            <H2><%= @user.first_name %> <%= @user.last_name %> </H2>
                        </div>
                        <div class="card-trip-infos">
                              <h2>I have
                              <% @user.pets.map { |pet| pet.breed }.each do |breed| %>
                                <% case breed %>
                                <% when 'fish' %>
                                  <span class="badge" id="blue-badge"><%= "ðŸ " %></span>
                                <% when 'rabbit' %>
                                  <span class="badge" id="blue-badge"><%= "ðŸ°" %></span>
                                <% when 'dog' %>
                                  <span class="badge" id="blue-badge"><%= "ðŸ¶" %></span>
                                <% when 'bird' %>
                                  <span class="badge" id="blue-badge"><%= "ðŸ¦œ" %></span>
                                <% when 'cat' %>
                                  <span class="badge" id="blue-badge"><%= "ðŸ±" %></span>
                                <% end %>
                              <% end %>
                              </h2>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>

            <% if @user.pets.exists?  %>
                <div class="container">
                  <div class="log">
                    <div><h2>My Pets | <%= link_to "add a pet",   new_user_pet_path(@user), class: "btn btn-green" %> </h2>
                    </div>
                  </div>
                        <div class="cards">

                          <% @user.pets.each do |pet| %>
                          <div class="card-trip">
                          <% if pet.photo.attached? %>
                          <%= cl_image_tag pet.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, crop: :thumb, gravity: :face %>
                          <% else %>
                              <img src=<%=['https://res.cloudinary.com/sebd141/image/upload/v1654172150/rabit_kid1_wmlcdo.jpg',
                            'https://res.cloudinary.com/sebd141/image/upload/v1654172150/human_rabbit2_xvpcee.jpg',
                            'https://res.cloudinary.com/sebd141/image/upload/v1654171972/homme_chien2_ab94yo.jpg',
                            'https://res.cloudinary.com/sebd141/image/upload/v1654171972/femme_chien1_ec9xg5.jpg',
                            'https://res.cloudinary.com/sebd141/image/upload/v1654171971/femme_chat1_vcvj9m.jpg',
                            'https://res.cloudinary.com/sebd141/image/upload/v1654171971/homme_chien1_oadq64.jpg'].sample%>>
                            <% end %>
                              <div class="card-trip-infos">
                                  <div>
                                  <h2><%= pet.name %></h2>
                                      <p><%= pet.breed %></p>
                                      <%= link_to "Edit #{pet.name}", edit_pet_path(pet), class: "btn btn-blue" %>
                                      <%= link_to "Delete #{pet.name}", pet_path(pet), method: :delete, class: "btn btn-blue", data: {confirm: "Do you really want to delete this pet ?"} %></p>
                                  </div>
                              </div>
                          </div>
                  <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="log">
                  <div><h2>My Pets | <%= link_to "add a pet",   new_user_pet_path(@user), class: "btn btn-green" %> </h2>
                  </div>
              <% end %>
              </div>



        </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
    <div class="log">
        <h1><%= @user.first_name %> <%= @user.last_name %> pet sitter's profile</h1>
      <div>
        <div class="card-trip">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, class: "img-profile", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, crop: :thumb, gravity: :face %>
            <% else %>
              <img src=<%=['https://res.cloudinary.com/sebd141/image/upload/v1654172150/rabit_kid1_wmlcdo.jpg',
              'https://res.cloudinary.com/sebd141/image/upload/v1654172150/human_rabbit2_xvpcee.jpg',
              'https://res.cloudinary.com/sebd141/image/upload/v1654171972/homme_chien2_ab94yo.jpg',
              'https://res.cloudinary.com/sebd141/image/upload/v1654171972/femme_chien1_ec9xg5.jpg',
              'https://res.cloudinary.com/sebd141/image/upload/v1654171971/femme_chat1_vcvj9m.jpg',
              'https://res.cloudinary.com/sebd141/image/upload/v1654171971/homme_chien1_oadq64.jpg'].sample%>>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <H2><%= @user.first_name %> <%= @user.last_name %> </H2>
                  <p><%= @user.short_desc %></p>
                  <p><%= @user.description %></p>
                  <p><strong><%= @user.location %></strong></p>
                  <p>What I offer: </p>
                  <% @user.type_of_service[1..-1].each do |service| %>
                    <span class="badge bg-secondary"><%= service %></span>
                  <% end %>
                  <p>Animals I take care of: </p>
                  <% @user.type_of_pet[1..-1].each do |pet|  %>
                  <span class="badge bg-secondary"><%= pet %></span>
                  <% end %>
                  <br>
                          <%= @user.reviews_recieved.each do |review| %>
                      <div class="card-trip card-trip-review">
                        <div class="card-trip-infos">
                              <h2><%= review.comment %></h2>
                              <h2><%= review.rating %></h2>
                           </div>
                      </div>
                          <% end %>

                  <% if params[:start_date] && params[:end_date] %>
                      <%= simple_form_for([@user, Contract.new]) do |f| %>
                        <%= f.input :start_date, input_html: { value: DateTime.parse(params[:start_date]) }, as: :hidden %>
                        <%= f.input :end_date, input_html: { value: DateTime.parse(params[:end_date]) }, as: :hidden %>
                        <%= f.submit "Book #{@user.first_name}" %>
                      <% end %>
                <% end %>
              </div>
                <h2 class="card-trip-pricing"><%= @user.price %>â‚¬/hour</h2>
        </div>
      </div>
    </div>
<% end %>
