<div class="cointainer-wide">
  <% if current_user.pet_sitters_status == false || current_user.pet_sitters_status == nil %>
    <% if current_user.contracts_user.exists? %>
      <div style="text-align: center;">
        <h1 id="first_title_">Your bookings</h1>
      </div>
      <div class="cards">
        <% current_user.contracts_user.each do |contract| %>
          <% if contract.status.nil? %>
            <% pet_sitter = User.find(contract.id_pet_sitter) %>
            <div class="card-trip">
              <div class="status">
                <h2 class="badge" id="pending-badge">PENDING</h2>
              </div>
                <%= cl_image_tag pet_sitter.photo.key, class: "img-profile", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, crop: :thumb, gravity: :face %>
              <div class="card-trip-infos">
                <div>
                  <H2><%= pet_sitter.first_name %> <%= pet_sitter.last_name %></H2>
                  <p><%= pet_sitter.short_desc %></p>
                  <p><%= pet_sitter.description %></p>
                  <p><strong><%= pet_sitter.location %></strong></p>
                  <p>What <%= pet_sitter.first_name %> offers: </p>
                  <% pet_sitter.type_of_service[1..-1].each do |service| %>
                    <span class="badge bg-secondary"><%= service %></span>
                  <% end %>
                  <%start_date = contract.start_date%><% end_date = contract.end_date%>
                  <p>From: <strong><%= start_date.day %>/<%= start_date.month %>/<%= start_date.year %></strong> - To: <strong><%= end_date.day %>/<%= end_date.month %>/<%= end_date.year %></strong></p>
                  <div>
                    <%= link_to "Edit", edit_contract_path(contract), class: "btn btn-blue" %>
                    <%= link_to "Delete", contract_path(contract), method: :delete, class: "btn btn-blue", data: {confirm: "Do you really want to delete this booking ?"} %></p>
                    <%= link_to "Start a chat with #{pet_sitter.first_name}", contract_path(contract), class: "btn btn-blue" %>
                  </div>
                </div>
                <h2 class="card-trip-pricing"><%= pet_sitter.price %>€/hour</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div style="text-align: center;">
        <h1>Hooo.. It's seems you don't have any booking yet!</h1>
        <p>Maybe you want to book a pet sitter?</p>
      </div>
      <%= link_to "Discover our pet sitters", users_path, class: "btn btn-green"  %>
    <% end %>
<% else %>
  <% if current_user.contracts_pet_sitter.exists? %>
  <div class="wrapper-footer">
    <div style="text-align: center">
      <h1>Your pet sitter missions</h1>
    </div>
    <div class="cards">
      <% current_user.contracts_pet_sitter.each do |contract| %>
      <div>
        <% user = User.find(contract.user_id) %>
        <div class="card-trip">
          <div class="status">
          </div>
           <%= cl_image_tag user.photo.key, class: "img-profile", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, crop: :thumb, gravity: :face %>
          <div class="card-trip-infos">
            <div>
              <H2>Request from: <%= user.email %></H2>
              <p><strong>Contract ID: <%=contract.id%></strong></p>
              <p>Descr: <%=contract.description%></p>
              <%start_date = contract.start_date%><% end_date = contract.end_date%>
              <p>From: <strong><%= start_date.day %>/<%= start_date.month %>/<%= start_date.year %></strong> - To: <strong><%= end_date.day %>/<%= end_date.month %>/<%= end_date.year %></strong></p>
              <div>
                <% if contract.status.nil? %>
                  <%= link_to "Accept", accept_contract_path(contract), class: "btn btn-blue" %>
                  <%= link_to "Decline", contract_path(contract), method: :delete, class: "btn btn-red", data: {confirm: "Do you really want to delete this booking ?"} %></p>
                <% elsif contract.status == true %>
                  <%= link_to "Decline", decline_contract_path(contract), class: "btn btn-blue" %>
                <% else %>
                  <%= link_to "Accept", accept_contract_path(contract), class: "btn btn-blue" %>
                  <%= link_to "Decline", contract_path(contract), method: :delete, class: "btn btn-red", data: {confirm: "Do you really want to delete this booking ?"} %></p>
                <% end %>
                <%= link_to "Start a chat with #{user.first_name}", contract_path(contract), class: "btn btn-blue" %>
              </div>
            </div>
            <h2 class="card-trip-pricing"><%= user.price %>€/hour</h2>
          </div>
        </div>
      </div>
      </div>
      <% end %>
    <% else %>
      <div class="wrapper-footer" style="text-align: center">
          <h1>Hooo.. It's seems you don't have any mission yet!</h1>
      </div>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
